* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: cursive;
	background-color: orange;

}

a {
	text-decoration: none;
}


li{
	list-style: none;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}

.nav-links a {
 color: #fff;
 
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 grid-gap: 1em;
 font-size: 18px;
}

.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}

.menu li {
 padding: 5px 14px;
}

.main{
	width: 75%;
	height: auto;
	margin: auto;
	display: flex;
}

.main img {
	padding-top: 40px;
	padding-bottom: 0;
	margin: 0;
}

.section-title{
	font-size: 32px;
	text-align: center;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
}

.mint{
	margin: 100px 250px 100px 100px;
	display: flex;
	flex-direction: column;
}

.mint button{
	background-color: darkorange; /* Green */
	border: none;
	border-radius: 10px;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin: auto;
	font-family: cursive;

}

.mint button:hover {
	background-color: #4c9e9e;
	transition: 0.3s ease;
}

#slideshow { 
  position: relative; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}

/* TIMELINE */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;

}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: darkorange;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.content p {
	font-size: 18px;
}

.content li {
	list-style: square inside;
	padding-left: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* UTILITIES SECTION */
.desc-container {
	width: 75%;
	height: auto;
	margin: 10px auto;
}

.description {
	font-size: 20px;
}

.desc-row {
	display: table;
	width: 75%;
	margin: 10px auto;
	border-spacing: 10px;
}
.desc-col {
	display: table-cell;
	width: 45%;
	height: auto;
	overflow: hidden;
	margin: 10px;
	padding: 10px;
	border: solid;
	border-radius: 10px;
	background-color: darkorange;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);


}

.desc-col li {
	padding-left: 10px;
	list-style: square inside;
}

.desc-container::after {
  content: "";
  clear: both;
  display: table;
}

/* TEAM SECTION */

.meet-team {
	width: 75%;
	height: auto;
	margin: 0 auto;
}

.team-column {
  float: left;
  width: 32%;
  margin: 0 5px 16px 5px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .team-column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

/* Some left and right padding inside the container */
.team-container {
  padding: 5px 16px;
}

/* Clear floats */
.team-container::after, .team-row::after {
  content: "";
  clear: both;
  display: table;
}

.team-title {
  color: teal;
}

.team-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.team-button:hover {
  background-color: #555;
}